.navbar-default {
    background-color: transparent;
    border-color: #2f4050;
}

#wrapper {
    width: 100%;
    overflow-x: hidden;
}



.nav.metismenu > li {
    display: block;
    width: 100%;
    position: relative;
}

.nav-header {
    padding: 33px 25px;
    background-color: #2f4050;
    background-image: url(../img/header-profile.png);
}

.nav-header a {
    color: #DFE4ED;
}

a {
    cursor: pointer;
}

.block {
    display: block !important;
}

.m-t-xs {
    margin-top: 5px;
}

.font-bold {
    font-weight: 600;
}

.dropdown-toggle:hover{
    text-decoration: none;
}

.nav-header .text-muted {
    color: #8095a8 !important;
}

.inline-block {
    display: inline-block;
}

.caret {
    vertical-align: middle;
    color: #8095a8 !important;
}

.logo-element {
    display: none;
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 18px 0;
}

.nav > li > a i {
    margin-right: 6px;
}

.nav > li > a {
    color: #a7b1c2;
    font-weight: 600;
    padding: 14px 20px 14px 25px;
    display: block;
}

.metismenu .fa-angle-left {
    float: right;
    line-height: 1.42857;
}

.navbar-default .nav > li > a:hover,.navbar-default .nav > li > a:hover
{
    background-color:#293846;
    color: white;
    text-decoration: none;
}

.dropdown-menu {
    border:  medium none;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
    display: none;
    float: left;
    font-size: 12px;
    left: 0;
    list-style: none outside none;
    padding: 0;
    position: absolute;
    text-shadow: none;
    top: 100%;
    z-index: 1000;
}

.nav.nav-second-level.collapse[style] {
    height: auto !important;
}

.metismenu .collapse {
    display: none;
}

.metismenu .collapse.in{
    display: block;
}


ul.nav-second-level {
    background: #293846;
}

.nav.nav-second-level > li.active{
    border: none;
}

.nav-second-level li, .nav-third-level li{
    border-bottom: none !important;
}

.nav-second-level li a{
    padding: 7px 10px 7px 10px;
    padding-left: 52px;
}

.nav > li.active > a{
    color: #ffffff;
}

.dropdown-menu.show{
    display: block;
}

.nav.metismenu .dropdown-menu > li > a{
    padding: 3px 20px;
    display: block;
}

.dropdown-menu > li > a{
    border-radius: 3px;
    color: inherit;
    line-height: 25px;
    margin: 4px;
    text-align: left;
    font-weight: normal;
    display: block;
    padding: 3px 20px;
}

.dropdown-item{
    width: auto;
}

.nav .label, .ibox .label{
    font-size: 10px;
}

.label{
    background-color: #d1dade;
    color: #5e5e5e;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    padding: 3px 8px;
    text-shadow: none;
    border-radius: 0.25em;
    line-height: 1;
    white-space: nowrap;
}

.label-warning, .badge-warning{
    background-color: #f8ac59;
    color: #FFFFFF;
}

.label-primary, .badge-primary{
    background-color: #1ab394;
    color: #FFFFFF;
}

.label-info, .badge-info{
    background-color: #23c6c8;
    color: #FFFFFF;
}

.navbar-default .landing_link a{
    background: #1cc09f;
    color: white;
}

.navbar-default .landing_link a span.label{
    background: #fff;
    color: #1cc09f;
}

.navbar-default .special_link a{
    background: #1ab394;
    color: white;

}

.nav-third-level li a, .fixed-sidebar.mini-navbar .nav-second-level li .nav-third-level li a{
    padding-left:62px;
}

#page-wrapper{
    padding: 0 15px;
    min-height: 568px;
    position: relative !important;
}

.gray-bg, .bg-muted{
    background-color: #f3f3f4;
}

.pace-inactive{
    display: none;
}

.border-bottom{
    border-bottom: 1px solid #e7eaec !important;
}

.navbar.navbar-static-top{
    padding: 0px;
    width: 100%;
    align-items: inherit;
}

.navbar-fixed-top, .navbar-static-top{
    background: #f3f3f4;
}
.navbar{
    border: 0;
}

.minimalize-styl-2{
    padding: 4px 12px;
    margin: 14px 5px 5px 20px;
    font-size: 14px;
    float: left;
}

.navbar-form-custom{
    float: left;
    height: 50px;
    padding: 0;
    width: 200px;
    display: block;
}

.navbar-form-custom .form-group{
    margin-bottom: 0;
}

.navbar-form-custom .form-control{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    font-size: 14px;
    height: 60px;
    margin: 0;
    z-index: 2000;
}

@media (min-width: 768px){
    .navbar-right{
        margin-right: -15px;
    }
    
}

.navbar-top-links li{
    display: inline-block;
    align-self: center;
}

.nav.navbar-right > li > a{
    color: #999c9e;
}

.nav.navbar-top-links a{
    font-size: 14px;
}

.navbar-top-links li a{
    padding: 20px 10px;
    min-height: 50px;
}

.count-info .label{
    line-height: 12px;
    padding: 2px 5px;
    position: absolute;
    right: 6px;
    top: 12px;
}

.dropdown-toggle::after {
    display:none;
}

.navbar-top-links .dropdown-menu li a{
    padding: 3px 20px;
    min-height: 0;
}

.nav.navbar-top-links .dropdown-alerts a{
    font-size: 12px;
}

.navbar-top-links .dropdown-menu li{
    display: block;
}
.navbar-top-links li:last-child{
    margin-right: 30px;
}

.text-navy{
    color: #1ab394 !important;
}

.btn{
    border-radius: 3px;
    font-size: inherit;
}

.btn-primary{
    color: #fff;
    background-color: #1ab394;
    border-color: #1ab394;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus{
    background-color: #18a689;
    border-color: #18a689;
    color: #FFFFFF;
}

.text-muted{
    color: #888888 !important;
}

.m-r-sm{
    margin-right: 10px;
}

.dropdown-messages, .dropdown-alerts{
    padding: 10px;
}

.navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks, .navbar-top-links .dropdown-alerts{
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages{
    margin-left: 5px;
}

.navbar-static-top .dropdown-menu{
    right: 0;
    left: auto;
}

.navbar .dropdown-menu{
    margin-top: 0;
}

.feed-element img.rounded-circle, .chat-element img.rounded-circle, 
.dropdown-messages-box img.rounded-circle{
    width: 38px;
    height: 38px;
}

.feed-element, .media-body, .chat-element{
    overflow: hidden;
}

.sidebar-panel .feed-element, .media-body, .sidebar-panel p{
    font-size: 12px;
}


html,body {
    height: 100%;
}

body {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #2f4050;
    font-size: 13px;
    color: #676a6c;
    overflow-x: hidden;
}

@media (min-width: 768px){
    #page-wrapper{
        position: inherit;
        margin: 0 0 0 240px;
        min-height: 2002px;
    }
}

@media (min-width: 768px){
    #page-wrapper{
        position: inherit;
        margin: 0 0 0 220px;
        min-height: 100vh;
    }
}


@media (min-width: 768px){
    .navbar-static-side{
        z-index: 2001;
        position: absolute;
        width: 220px;
    }
}

@media (min-width: 768px){
    .navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks, .navbar-top-links .dropdown-alerts{
        margin-left: auto;
    }
}
